@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-on-background font-body;
  }
  h1,
  h2,
  h3 {
    font-family: var(--font-playfair), serif;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;
  font-size: 22px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
}

@layer components {
  .container-luxe {
    @apply mx-auto w-full max-w-container px-margin-mobile md:px-margin-tablet lg:px-margin-desktop;
  }
  .label-caps {
    @apply text-label-md font-body font-semibold uppercase tracking-widest;
  }
}
